
<div class="flex justify-center">
    <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 max-w-[480px] justify-center">
      <button
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-12 px-5 bg-[#1980e6] text-slate-50 text-base font-bold leading-normal tracking-[0.015em] grow"
      >
        <span class="truncate">S'inscrire</span>
      </button>
      <button
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-12 px-5 bg-[#e7edf3] text-[#0e141b] text-base font-bold leading-normal tracking-[0.015em] grow"
      >
        <span class="truncate">Signaler un objet</span>
      </button>
    </div>
</div>