<section class="min-h-screen bg-gray-50 px-6 py-20 font-sans text-[#111418]">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-3xl font-bold mb-8 text-center">Mentions légales</h1>
  
      <p class="text-sm text-gray-600 mb-2">Date de dernière mise à jour : 12-05-2024</p>
  
      <div class="space-y-6 mt-8 text-base leading-relaxed text-gray-800">
        <div>
          <h2 class="font-semibold text-lg mb-2">1. Éditeur du site</h2>
          <p>
            Le site Waalu est édité par la société NTECHINNOV, société enregistrée au registre du commerce du Sénégal.
          </p>
          <p>Adresse : Grand Dakar, rue 10, code postal 12000</p>
          <p>Email : {{contactEmail}}</p>
          <p>Téléphone : +221 33 822 95 69</p>
        </div>
  
        <div>
          <h2 class="font-semibold text-lg mb-2">2. Hébergement</h2>
          <p>
            Le site est hébergé par <strong>[Nom de l’hébergeur]</strong>.
          </p>
          <p>Adresse de l’hébergeur : [Adresse complète]</p>
          <p>Email : [email hébergeur]</p>
        </div>
  
        <div>
          <h2 class="font-semibold text-lg mb-2">3. Propriété intellectuelle</h2>
          <p>
            Tous les contenus présents sur le site Waalu (textes, images, graphismes, logo, icônes, etc.) sont protégés par les lois en vigueur sur la propriété intellectuelle.
          </p>
          <p>Ils ne peuvent être reproduits ou utilisés sans l'autorisation écrite de Waalu.</p>
        </div>
  
        <div>
          <h2 class="font-semibold text-lg mb-2">4. Données personnelles</h2>
          <p>
            Waalu s’engage à respecter la confidentialité des données collectées. Pour en savoir plus, veuillez consulter notre <a routerLink="/privacy-policy" class="text-[#f06575] hover:underline">Politique de confidentialité</a>.
          </p>
        </div>
  
        <div>
          <h2 class="font-semibold text-lg mb-2">5. Responsabilité</h2>
          <p>
            Waalu ne saurait être tenue responsable des erreurs rencontrées sur le site, de problèmes techniques, d’interprétation des informations publiées, ni des conséquences de leur utilisation.
          </p>
        </div>
  
        <div>
          <h2 class="font-semibold text-lg mb-2">6. Contact</h2>
          <p>
            Pour toute question relative à ces mentions légales, vous pouvez nous contacter à :
            <a href="mailto:contact@waalu.com" class="text-[#f06575] hover:underline"> {{contactEmail}} </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  